<!DOCTYPE html>
<html>
  <head>
    <title>SportsbossApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
    <div class="ui fixed brown inverted menu">
      <div class="ui container">
        <a href="#" class="header item">SportsBoss</a>
        <% if logged_in? %><%= render partial: "navigation" %><% end %>
        <div class="ui right floated item">
          <%= link_to 'Logout', logout_path, method: :post, class: 'ui white inverted basic small button' %>
        </div>
      </div>
    </div>
    <div class="ui main container">
      <%= yield %>
    </div>
  </body>
</html>
